@import url('https://db.onlinewebfonts.com/c/b6b6223886cc6b0a9c46ffd670acaa8b?family=Almoni+Neue+DL+4.0+AAA');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    box-sizing: border-box;
    direction: rtl;
    font-family:Rubik,sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
}

