$dark-blue:#213a7f;
$very-dark-blue:#122046;
$light-grey:#f5f8f9;
$hacker-u-color:linear-gradient(155deg, #8d25aa, #1046a1);
$turkiz:rgb(5, 152, 168);
$blue-royal:rgb(57, 164, 220);
$dark-blue-royal:rgb(21, 75, 156);
$purpule-blue:rgb(53, 47, 138);
$purpule:rgb(120, 42, 169);